*.esproj
.DS_Store
.codekit-cache
node_modules
images/sprites
unslider-master/
images/artists/Syd_Bee.jpg
images/artists/Weirdo.jpg
images/artists/Casey_Weldon.jpg
images/artists/__MACOSX
styles/responsive-nav.css
scripts/responsive-nav.min.js
images/artists/SODO Track Assets.zip
images/artists/SODO Track Assets/
