/*******************************/
/***********PAGE SETUP**********/
/*******************************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Helvetica', 'Tahoma', sans-serif;
    font-size: 16px;
    background-color: #F9FAFD;
}

#main-wrap {
    /*max-width: 1140px;*/
    margin: 0 auto;
}

/***********GENERAL CLASS**********/

section {
    padding: 30px 0;
    border-bottom: 1px solid grey;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.copy-wrap {
    width: 45%;
    font-size: 110%;
    margin: 0 auto;
    line-height: 1.5em;
    word-spacing: 2px;
}

/*******************************/
/*************HEADER************/
/*******************************/

#head-wrap {
    margin: 0 auto;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px #e1e5f0 solid;
}

header {
    /*width: 80%;*/
    /*background-color: #D2D7D3;*/
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 10px;
}

/*************SODO Logo************/

#logo-sodo-wrap {
    float: left;
    margin: 5px 1.25% 0 1.25%;
    width: 45%;
}

#logo-sodo-wrap img {
    /*width: 45%;*/
    width: 50%;
}


/*************NAV************/

nav {
    width: 40%;
    float: right;
    margin: 0 1.25% 0 1.25%;
}

#nav-list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 15px;
}

#nav-list li {
    display: inline-block;
    height: 100%;
    margin: 0 2%;
    padding: 5px 15px;
    color: lightgrey;
    text-align: right;
    float: left;
    list-style: none;
}

#nav-list li:last-child {
    text-align: center;
    color: #fff;
    background-color: #7FCAAD;
}

/*******************************/
/***************SPLASH************/
/*******************************/

#hero-wrap {
    /*margin-top: 30px;*/
}

#hero-wrap img {
    display: block;
    margin: 0 auto;
    width: 30%;
    opacity: .8;
}

/***************ENTER************/

#enter-wrap {
    margin: 30px auto 0 auto;
    padding: 5px 10px;
    width: 200px;
    height: 45px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 25px;
}

#enter-wrap a:link, #enter-wrap a:visited {
    display: inline-block;
    margin-top: 12px;
    text-decoration: none;
    color: black;
    width: 80%;
    font-size: 14px;
    -webkit-transition: color .2s;
    transition: color .2s;
}

#enter-wrap a:hover, #enter-wrap a:active {
    text-decoration: none;
    color: aquamarine;
}

#play-contain {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 8px;
    background-image: url(images/play-button-sprite-inactive.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: background-image, .2s;
    transition: background-image, .2s;
}

#play-contain:hover {
    background-image: url(images/play-button-sprite-active.png);
}
/***************SODO TRACK LOGO************/

#logo-wrap {
    width: 100%;
    margin: 20px auto 0 auto;
    text-align: center;
}

#logo-wrap img {
    width: 25%;
}

#logo-wrap #track {
    width: 29%;
}

#sub-logo-copy {
    font-family: 'Lusitana', 'Lato', sans-serif;
    text-align: center;
    margin-top: 20px;
}

/*******************************/
/**************WHAT*************/
/*******************************/

#what {
    background-color: #fff;
}


























