/*******************************/
/***********PAGE SETUP**********/
/*******************************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Helvetica', 'Tahoma', sans-serif;
    font-size: 16px;
    background-color: #F9FAFD;
}

#main-wrap {
    max-width: 1140px;
    margin: 0 auto;
}

/***********GENERAL CLASS**********/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.copy-wrap {
    width: 40%;
    font-size: 110%;
    margin: 0 auto;
    line-height: 1.5em;
    word-spacing: 2px;
}

/*******************************/
/*************HEADER************/
/*******************************/

#head-wrap {
    margin: 0 auto;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px #e1e5f0 solid;
}

header {
    /*width: 80%;*/
    /*background-color: #D2D7D3;*/
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 10px;
}

/*************4C Logo************/

#logo-sodo-wrap {
    float: left;
    margin: 5px 1.25% 0 1.25%;
}

#logo-sodo-wrap img {
    width: 45%;
}


/*************NAV************/

nav {
    width: 40%;
    float: right;
    margin: 0 1.25% 0 1.25%;
}

#nav-list {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 15px;
}

#nav-list li {
    display: inline-block;
    margin: 0 2%;
    padding: 5px 15px;
    color: lightgrey;
    text-align: right;
    float: left;
    list-style: none;
}

#nav-list li:last-child {
    text-align: center;
    color: #fff;
    background-color: #7FCAAD;
}

/*******************************/
/***************HERO************/
/*******************************/

#hero-wrap {
    margin-top: 30px;
}

#hero-wrap img {
    display: block;
    margin: 0 auto;
    width: 30%;
    opacity: .8;
}

/***************ENTER************/

#enter-wrap {
    margin: 30px auto 0 auto;
    width: 150px;
    height: 30px;
    background-color: #D2D7D3;
    text-align: center;
    border-radius: 2px;
}

#enter-wrap a:link, #enter-wrap a:visited {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 14px;
    padding-top: 8px;
    -webkit-transition: color .2s;
    transition: color .2s;
}

#enter-wrap a:hover, #enter-wrap a:active {
    text-decoration: none;
    color: aquamarine;
}

/***************SODO TRACK LOGO************/

#logo-wrap {
    width: 100%;
    margin: 20px auto 0 auto;
    text-align: center;
}

#logo-wrap img {
    width: 25%;
}

#logo-wrap #track {
    width: 29%;
}































