/*******************************/
/***********PAGE SETUP**********/
/*******************************/

/*body {
    z-index: 0;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Tahoma', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9BA5BD;
    background-color: #f5f6fa;
    box-sizing: border-box;
}

#main-wrap {
    margin: 0 auto;
}*/

/***********GENERAL CLASS**********/

/*.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

section {
    padding: 30px 0;
    border-bottom: 1px solid #f5f6fa;
}

section:nth-child(even) {
  background-color: #fff;
}*/

h1, h2, h3, h4 {
  width: 48%;
  text-align: left;
  font-size: 1.7em;
  font-weight: 300;
  font-family: "Lusitana", Helvetica, Arial;
  line-height: 1.3em;
  margin: 40px auto 20px auto;
  color: #7FCAAD;
}

.row {
    max-width: 960px;
    margin: 0 auto;
}

.copy-wrap {
    color: #5f6880;
    width: 48%;
    font-weight: 300;
    font-size: 92.5%;
    margin: 0 auto;
    line-height: 1.6em;
    word-spacing: 2px;
    text-align: left;
    padding: 10px 0;
}

/*.sub-header h3{
    font-weight: 100;
    font-size: 120%;
    color: #92CEB7;
    line-height: 1.4em;
    width: 80%;
    margin: 30px auto;
}*/

/*.button {
    display: inline-block;
    width: 120px;
    margin: 6px 10px 10px 10px;
    padding: 20px 30px;
    border: 2px solid #7FCAAD;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 300;
    font-size: 85%;
}

.full {
    background-color: #7FCAAD;
    color: #fff;
}

.ghost {
    color: #7FCAAD;
}

.no-click {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5) !important;
}*/

/*******************************/
/*************HEADER************/
/*******************************/

#head-wrap {
    margin: 0 auto;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px #e1e5f0 solid;
}

header {
    /*width: 60%;*/
    /*background-color: #D2D7D3;*/
    max-width: 1140px;
    font-size: 80%;
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
    max-width: 1140px;
}

/*************SODO Logo************/

#logo-sodo-wrap {
    float: left;
    width: 20%;
}

#logo-sodo-wrap img {
    width: 160px;
    margin-top: 8px;
}

/*************NAV************/

nav {
    float: right;
    width: 60%;
    text-align: right;
}

#responsive-nav {
  padding: 10px 0;
  font-size: 80%;
}

#pop-up-nav {
  display: none;
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 0;
  width: 100%;
  /*height: 100vh;*/
  background-color: #F9FAFD;
  font-size: 150%;
}

#pop-up-nav ul {
  width: 40%;
  margin: 10px 15px;
  list-style-type: none;
}

#pop-up-nav li {
  margin-bottom: 50px;
}

/*#pop-up-nav li:last-child {
  width: auto%;
  padding: 10px 20px;
  color: #fff;
  background-color: #7FCAAD;
}*/

#nav-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

#nav-list li:hover {
  color: #7FCAAD;
}

#nav-list li {
    display: inline-block;
    height: 100%;
    margin-right: 1%;
    list-style: none;
    color: #9BA5BD;
    font-size: 95%;
    font-weight: 300;
    text-align: center;
    padding: 15px;
}

/*#nav-list li:last-child {
  margin-left: 10px;
  padding: 12px 20px 12px 20px;
  color: #fff;
  background-color: #7FCAAD;
  border-radius: 2px;
}*/

.hamburger {
  display: none;
  float: right;
  margin: .2% 0 0 0;
  font-size: 200%;
}


/*************SCOPE************/

#scope {
    display: block;
    padding: 80px 0;
}

#corridor-map {
  display: block;
  width: 60%;
  margin: auto;
  padding: 50px 0;
}

#corridor-map:before {
  display: block;
  height: 1px;
  border-bottom: 1px  solid rgba(155, 165, 189, 0.9);
  content: ""; /*whenever using the after pseudo you must specify the content*/
  width: 150px;
  margin: auto;
  padding: 20px 0;
}

#corridor-map:after {
  display: block;
  height: 1px;
  border-bottom: 1px  solid rgba(155, 165, 189, 0.3);
  content: ""; /*whenever using the after pseudo you must specify the content*/
  width: 150px;
  margin: auto;
  margin-top: 20px;
}

/*************ABOUT************/

#about {
    display: block;
    padding: 80px 0;
    background: #ffffff;
}

#principles h4 {
  font-size: 1em;
  font-weight: 300;
  font-family: "Lusitana", Helvetica, Arial;
  line-height: 1.3em;
  margin: 40px auto 20px auto;
  color: #9AA3BD;
}

#principles ul {
  list-style: none;
  width: 48%;
  margin: auto;
  padding: 0;

}

#principles h5 {
  width: 48%;
  text-align: left;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.4em;
  color: #7FCAAD;
  margin: 40px 0 0 0;
}

#principles p {
  text-align: left;
  font-size: 0.85em;
  font-weight: 300;
  line-height: 1.4em;
  color: #9AA3BD;
  margin-top: 10px;
}

/*************TEAM************/

#team {
    display: block;
    padding: 80px 0;
    background: #f9fafd;
}

#team img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}

p.bio {
  width: 48%;
}

/*************THEME************/

#theme {
    display: block;
    padding: 80px 0;
    background: #ffffff;
}

.rider_logo {
  width: 48%;
  margin: auto;
}

/*******************************/
/**************FOOTER***********/
/*******************************/

#footer {
  background: #4C5157;
}

#footer-inner-wrap {
  padding: 0 5%;
}

#left-contain {
  display: inline-block;
  float: left;
  width: 40%;
}

#left-contain figure {
  margin: 20px 0;
  width: 200px;
  marign: 10px 0;
}

#left-contain img {
  width: 100%;
}

#left-contain .copy-wrap {
  color: #ffffff;
  font-size: 80%;
  width: 100%;
  text-align: left;
}

#right-contain {
  display: inline-block;
  width: 45%;
  float: right;
}

#right-contain ul {
  float: right;
  display: inline-block;
  list-style-type: none;
  text-align: left;
}

#right-contain ul li:first-child {
  color: white;
  font-size: 85%;
  font-weight: 300;
  margin-top: 30px;
}

#right-contain li {
  padding-bottom: 10px;
  font-size: 85%;
  font-weight: 300;
  color: #CBCED6;
}


/*******************************/
/**************MEDIA Qs*********/
/*******************************/

@media only screen and (max-width: 860px) {

  .row {
    width: 95%;
    margin: 0 1%;
  }

  #nav-contain-test {
    width: 100%;
  }

  #nav-contain-test li {
    width: 18%;
  }

  /*#logo-sodo-wrap {
    width: 25%;
    padding-top: 5px;
  }*/

  #col-wrap {
    padding-top: 20px;
  }

  /*#right-contain {
    width: 70%;
  }*/

  /*.button-wrap {
    margin-top: 20px;
  }*/

  #footer-inner-wrap {
    padding: 0;
  }

  #left-contain {
    margin-left: 40px;
  }

  #right-contain {
    margin-right: 40px;
  }

  #left figure, #right figure {
    display: none;
  }
}

@media only screen and (min-width: 781px) {
  #pop-up-nav {
    display: none;
  }
}

@media only screen and (max-width: 840px) {

  #col-wrap > div {
    width: 43%;
  }

  #left > *, #right > * {
    /*float: none;*/
    display: inline-block;
    text-align: center;
  }


  #left figure, #right figure {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
    #left-contain, #right-contain {
        width: 100%;
        text-align: center;
        margin: 0 auto 20px auto;
    }

    #left-contain figure {
        margin: 20px auto;
    }

    #left-contain .copy-wrap {
        width: 85%;
        margin-top: 10px;
        text-align: inherit;
    }

    #right-contain ul {
        float: none;

        width: 30%;
        padding: 0;

        text-align: center;
    }
}

@media only screen and (max-width: 780px) {

  header {
    padding: 12px 0 12px 0;
  }

  h1, h2, h3 {
    width: 80%
  }

  #nav-contain {
    display: none;
  }

  .hamburger {
    display: block;
    margin-top: 8px;
  }

  .copy-wrap {
    width: 80%;
  }

  #principles h4 {
    width: 80%;
  }

  #principles ul {
    width: 80%;

  }

  #principles h5 {
    width: 80%;
  }

  #team img {
    width: 80%;
  }

  p.bio {
    width: 80%;
  }

}

  @media only screen and (max-width: 700px) {

    .copy-wrap {
      width: 80%;
    }

    #principles p {
      width: 80%;
    }

    #logo-wrap {
      width: 70%;
    }
  }

  @media only screen and (max-width: 620px) {

    .button {
      display: block;
      width: 50%;;
      margin: 20px auto;
      padding: 20px 30px;
      border: 2px solid #7FCAAD;
      border-radius: 2px;
      text-decoration: none;
      font-weight: 300;
      font-size: 85%;
    }

    #corridor-map {
      display: block;
      width: 100%;
      margin: auto;
    }

    #right-contain {
      width: 100%;
      float: none;
      margin: 0 auto;
    }

    #right-contain ul {
      width: 100%;
      padding: 0;
    }

    #right-contain ul:before {
      display: block;
      height: 2px;
      /* background-color: #e67e22; */
      border-bottom: 1px solid #35353E;
      content: "";
      width: 200px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

  }

  @media only screen and (max-width: 580px) {
    #col-wrap > div {
      float: none;
      width: 100%;
      margin: 0;
    }

    #left > ul, #right > ul {
      width: 100%;
    }
  }
}
