.row {
  max-width: 1140px;
}

section {
  border: none;
}

h2 {
  margin-top: 0;
}

.artist-contain {
  width: 95%;
  margin: 0 auto 3em auto;
}

.example-contain {
  float: left;
  width: 65%;
  height: 500px;
  margin: 0 2em 0 0;
  text-align: center;
}

.example-contain img {
  max-height: 100%;
  width: 100%;
}

.fourthree {
  width: 65%;
}

.fourthree img {
  width: auto;
}

.bio-contain {
  float: left;
  width: 30%;
}

.bio-contain h2 {
  float: left;
}

.bio-pic {
  float: right;
  width: 100px;
  margin: 0;
}

.bio-pic img {
  border-radius: 50%;
}

.copy-wrap {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 2em;
  padding-top: 2em;
  text-align: left;
  border-top: 1px solid #7FCAAD;
}

@media only screen and (max-width: 855px) {
  .artist-contain * {
    float: none;
  }

  .example-contain {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .example-contain:not(.fourthree) {
    height: auto;
  }

  .bio-contain {
    display: block;
    width: 80%;
  }

  .bio-contain {
    margin: 0 auto;
  }

  .bio-contain h2 {
    width: 100%;
    /*margin: 1em 0;*/
  }

  .bio-contain > * {
    margin: 1em auto;
  }

}

@media only screen and (max-width: 520px) {

  .example-contain {
    height: auto;
  }
  .fourthree img{
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .bio-contain {
    width: 98%;
  }
}
