.row {
  max-width: 960px;
}

section {
  border: none;
}

h2 {
  margin-top: 0;
}

#artists-contain {
  margin-top: 4em;
}

.artist-contain {
  width: 95%;
  margin: 0 auto 3em auto;
}

.example-contain {
  float: left;
  width: 65%;
  height: 500px;
  margin: 0 2em 0 0;
  text-align: center;
}

.example-contain img {
  max-height: 100%;
  width: 100%;
}

.fourthree {
  width: 65%;
}

.fourthree img {
  width: auto;
}

.bio-contain {
  float: left;
  width: 30%;
}

.bio-contain h2 {
  float: left;
}

.bio-contain .artist-link:link, .artist-link:visited {
  transition: color .2s;
}

.bio-contain .artist-link:hover, .artist-link:active {
  color: #7FCAAD;
  /*transition: color .2s;*/
}

.bio-pic {
  display: block;
  width: 100px;
  margin: 0;
}

.bio-pic img {
  border-radius: 50%;
  margin: 0 auto;
}

/*.copy-wrap {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 2em;
  padding-top: 2em;
  text-align: left;
}*/

.border {
  border-top: 1px solid #7FCAAD;
}

.nested {
  padding-top: 0;
}

/****** Omri Additions*****/

h1, h2, h3, h4 {
  display: block;
  width: 48%;
  text-align: left;
  font-size: 1.7em;
  font-weight: 300;
  font-family: "Lusitana", Helvetica, Arial;
  line-height: 1.3em;
  margin: 40px auto 20px auto;
  color: #7FCAAD;
}

.copy-wrap {
    color: #5f6880;
    width: 48%;
    font-weight: 300;
    color: #676b79;
    margin: 0 auto;
    line-height: 1.6em;
    word-spacing: 2px;
    text-align: left;
    padding: 10px 0;
}

.copy-wrap p {
  font-size: 92.5%;
}

.sub-header h3{
    font-weight: 100;
    font-size: 120%;
    color: #92CEB7;
    line-height: 1.4em;
    width: 80%;
    margin: 30px auto;
}

/*************CYRCLE************/

#cyrcle {
    display: block;
    padding: 80px 0;
    background: #f9fafd;
    border-bottom: 1px solid #f0f3f9;
}

#cyrcle img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}

/*************WELDON************/

#weldon {
    display: block;
    padding: 80px 0;
    background: #ffffff;
    border-bottom: 1px solid #f0f3f9;
}

#weldon img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}

/*************D*FACE************/

#d-face {
    display: block;
    padding: 80px 0;
    background: #f9fafd;
    border-bottom: 1px solid #f0f3f9;
}

#d-face img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}

/*************KEYES************/

#josh-keyes {
    display: block;
    padding: 80px 0;
    background: #ffffff;
    border-bottom: 1px solid #f0f3f9;
}

#josh-keyes img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
  border: 1px solid #f0f3f9;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}

/*************WEIRDO************/

#weirdo {
    display: block;
    padding: 80px 0;
    background: #f9fafd;
    border-bottom: 1px solid #f0f3f9;
}

#weirdo img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}

/*************IVERSON************/

#iverson {
    display: block;
    padding: 80px 0;
    background: #ffffff;
    border-bottom: 1px solid #f0f3f9;
}

#iverson img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}

/*************EATON************/

#eaton {
    display: block;
    padding: 80px 0;
    background: #f9fafd;
    border-bottom: 1px solid #f0f3f9;
}

#eaton img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}


/*************BEE************/

#bee {
    display: block;
    padding: 80px 0;
    background: #ffffff;
    border-bottom: 1px solid #f0f3f9;
}

#bee img {
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

p.name {
  color: #7FCAAD;
  margin: 30px auto 5px auto;
  padding: 0;
}


/*******************************/
/**************MEDIA Qs*********/
/*******************************/


@media only screen and (max-width: 861px) {
  .artist-contain * {
    float: none;
  }

  .example-contain {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .example-contain:not(.fourthree) {
    height: auto;
  }

  .bio-contain {
    display: block;
    width: 80%;
  }

  .bio-contain {
    margin: 0 auto;
  }

  .bio-contain h2 {
    width: 100%;
    /*margin: 1em 0;*/
  }

  .bio-contain > * {
    margin: 1em auto;
  }

}

@media only screen and (max-width: 520px) {

  .example-contain {
    height: auto;
  }
  .fourthree img{
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .bio-contain {
    width: 98%;
  }
}
