$button-color : #7FCAAD;
$button-hover-color: #5AB592;

@mixin button-border($border-color) {
  border: 2px solid $border-color;
}

.nav-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: right;
  li {
    display: inline-block;
    height: 100%;
    margin-right: 1%;
    list-style: none;
    color: #9BA5BD;
    font-size: 95%;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    &:hover {
      color: #7FCAAD;
    }
  }
  .insta-icon {
    position: relative;
    top: 3px;
    width: 16px;
    filter: grayscale(100%);
  }
}

#event {
  color: #3b735d;
  background-color: #7FCAAD;
  h3 {
    font-weight: 300;
  }
  h4 {
    font-weight: 400;
  }
  p {
    color: #fff;
    margin: 10px auto 20px auto;
    width: 100%;
  }
}

.button {
  display: inline-block;
  width: 120px;
  margin: 6px 10px 10px 10px;
  padding: 20px 30px;
  // border: 2px solid $button-color;
  @include button-border($button-color);
  border-radius: 2px;
  text-decoration: none;
  font-weight: 300;
  font-size: 85%;
}

.full {
  background-color: $button-color;
  color: #fff;
  &:hover {
    background-color: $button-hover-color;
    @include button-border($button-hover-color);
  }
  &:focus {
    outline: none;
    border: 2px solid #219C6C;
  }
}
