/*@media (max-width: 414px) {
    #hero-wrap img {
        width: 80%;
    }

    #logo-wrap img {
        width: 50%;
    }

    #logo-wrap #track {
        width: 54%;
    }

    #sodo {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 1130px) {
  nav {
    width: 50%;
  }

  #nav-list {
    width: 90%;
  }
}

@media only screen and (max-width: 910px) {

  #head-wrap {
    height: auto;
    padding: 10px 0;
  }

  header {
    padding-top: 0;
  }

  #logo-sodo-wrap {
    display: none;
  }

  nav {
    width: 100%;
    float: none;
  }

  .copy-wrap {
    width: 60%;
  }

  #footer-inner-wrap.row {
    width: 98%;
    margin: 0 auto;
  }

  #left-contain, #right-contain {
    float: none;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  #left-contain figure {
    margin: 0 auto;
  }

  #left-contain .copy-wrap {
    text-align: center;
  }

  #right-contain ul {
    float: none;
    width: auto;
    padding-left: 20px;
    text-align: center;
  }
}*/
