/*******************************/
/***********PAGE SETUP**********/
/*******************************/

body {
    z-index: 0;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Tahoma', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9BA5BD;
    background-color: #f5f6fa;
    box-sizing: border-box;
}

#main-wrap {
    /*max-width: 1140px;*/
    margin: 0 auto;
}

/***********GENERAL CLASS**********/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

section {
    padding: 30px 0;
    background: #fff;
    border-bottom: 1px solid #f5f6fa;
}

section:nth-child(odd) {
  background-color: #f5f6fa;
}

h1, h2, h3 {
    text-align: center;
}

.row {
    max-width: 960px;
    margin: 0 auto;
}

.copy-wrap {
    color: #9098AD;
    width: 46%;
    font-size: 88%;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 1.6em;
    text-align: center;
}

.sub-header h3{
    font-weight: 100;
    font-size: 120%;
    color: #92CEB7;
    line-height: 1.4em;
    width: 80%;
    margin: 30px auto;
}

.button {
    display: inline-block;
    width: 120px;
    margin: 6px 10px 10px 10px;
    padding: 20px 30px;
    border: 2px solid #7FCAAD;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 300;
    font-size: 85%;
}

.full {
    background-color: #7FCAAD;
    color: #fff;
}

.full:hover {
  background-color: #5AB592;
  border: 2px solid #5AB592;
}

.full:focus {
  outline: none;
  border: 2px solid #219C6C;
}

.ghost {
    color: #7FCAAD;
}

.ghost:hover {
  color: #5AB592;
  background-color: #EFFFF9;
  border: 2px solid #5AB592;
}

.no-click {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*******************************/
/*************HEADER************/
/*******************************/

.head-wrap {
    margin: 0 auto;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px #e1e5f0 solid;
}

header {
    /*width: 60%;*/
    /*background-color: #D2D7D3;*/
    max-width: 1140px;
    font-size: 80%;
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
    max-width: 1140px;
}

/*************SODO Logo************/

#logo-sodo-wrap {
    float: left;
    width: 20%;
}

#logo-sodo-wrap img {
    width: 160px;
    margin-top: 8px;
}

/*************NAV************/

nav {
    float: right;
    width: 60%;
    text-align: right;
}

/*#responsive-nav {
  padding: 10px 0;
  font-size: 80%;
}*/

#pop-up-nav {
  /*display: block;
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #F9FAFD;
  font-size: 150%;*/
  /*top: 60px;*/
  width: 256px;
  top: 70px;
}

#pop-up-nav ul {
  width: 40%;
  margin: 10px 15px;
  list-style-type: none;
}

#pop-up-nav li {
  margin-bottom: 50px;
}

/*#pop-up-nav li:last-child {
  width: auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #7FCAAD;
}*/

.res {
  /*background-color: #fff;*/
}

.res .nav-contain {
  background-color: #fff;
  display: block;
  float: none;
  margin: 0 auto;
}

.nav-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: right;
}

.nav-list li:hover {
  color: #7FCAAD;
}

.nav-list li {
    display: inline-block;
    height: 100%;
    margin-right: 1%;
    list-style: none;
    color: #9BA5BD;
    font-size: 95%;
    font-weight: 300;
    text-align: center;
    padding: 15px;
}

/*.nav-list li:last-child {
  margin-left: 10px;
  padding: 12px 20px 12px 20px;
  color: #fff;
  background-color: #7FCAAD;
  border-radius: 2px;
}*/

/*#nav-list li:last-child:hover {
  background-color: #5AB592;
}*/

.hamburger {
  display: none;
  float: right;
  margin: .2% 0 0 0;
  font-size: 200%;
}

/*******************************/
/***************EVENT************/
/*******************************/

#event {
  background-color: #7FCAAD;
}

#event h3 {
  color: #3b735d;
  font-weight: 300;
}

#event h4 {
  color: #3b735d;
  font-weight: 400;
}

#event p {
  color: #fff;
  margin: 10px auto 20px auto
  width: 60%;
}

#splash-wrap {
  /*display: block;*/
  margin: 20px auto;
  border-radius: 4px;
}

#splash-wrap img {
  width: 40%;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

/*******************************/
/***************SPLASH************/
/*******************************/

#hero-wrap {
    width: 22%;
    margin: 20px auto;
}

#hero-wrap img {
    /*display: block;
    text-align: center;*/
    opacity: .8;
}

#hero-logo {
  width: 5%;
  margin: 10px auto;
  background: #fff;
  border: 1px solid #7FCAAD;
  border-radius: 6px;
  padding: 1.6%;
}

#hero-logo img {
  align-items: center;
}

/***************ENTER************/

#enter-wrap {
    margin: 30px auto;
    padding: 5px 10px;
    width: 215px;
    height: 44px;
    text-align: center;
    border: 1px solid #c6cbd4;
    border-radius: 50px;
}

#enter-wrap a:link, #enter-wrap a:visited {
    display: inline-block;
    margin-top: 14px;
    text-decoration: none;
    color: #5f6880;
    width: 80%;
    font-size: 85%;
    -webkit-transition: color .2s;
    transition: color .2s;
}

#enter-wrap:hover {
    background: #EAEBF5;
    text-decoration: none;
    color: #7ec9ac;
}

#play-contain {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 10px;
    background-image: url(../images/play-button-sprite-inactive.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: background-image, .2s;
    transition: background-image, .2s;
}

#play-contain:hover {
    background-image: url(../images/play-button-sprite-active.png);
}
/***************SODO TRACK LOGO************/

#logo-wrap {
    width: 35%;
    margin: 20px auto 0 auto;
    text-align: center;
}

#logo-wrap img {
    margin: 10px 0;
    text-align: left;
}

/*#logo-wrap #track {
    width: 29%;
}*/

#sub-logo-copy {
    color: #5f6880;
    margin: 10px auto 40px auto;
    font-size: 90%;
}

/*******************************/
/**************WHAT*************/
/*******************************/

/*#what {
    background-color: #fff;
}*/

#abstract {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

#summer {
  display: block;
  width: 30%;
  height: auto;
  padding: 10px 20px;
  margin: auto;
}

#buildings {
  width: 21%;
  height: auto;
  padding: 10px 20px;
}

#artists {
  width: 16%;
  height: auto;
  padding: 10px 20px;
}

#what .full {
  margin-bottom: 30px;
}

#sodo-corridor {
  width: 55%;
  margin: 40px auto;
  background: #ecfff9;
  padding: 4% 7% 7% 7%;
  border: 1px solid rgba(127, 202, 173, 0.8);
}

#corridor-map {
  display: block;
  width: 90%;
  margin: auto;
}

#sodo-corridor h3 {
  font-weight: 100;
  font-size: 100%;
  margin-bottom: 50px;
  color: #7FCAAD;
}

#sodo-corridor h3:after {
  display: block;
  height: 1px;
  border-bottom: 1px  solid rgba(155, 165, 189, 0.3);
  content: ""; /*whenever using the after pseudo you must specify the content*/
  width: 150px;
  margin: auto;
  margin-top: 30px;
}

.street {
  display: block;
  width: 20%;
  margin: 15px auto;
  color: #9CA6BF;
  font-size: 85%;
  font-weight: 300;
}


.sub-header span {
    display: inline-block;
    margin-right: 30px;
    font-weight: 700;
}

.button-wrap {
    margin: 35px auto;
    text-align: center;
    width: 100%;
}

#sodo-corridor a.button {
  cursor: default;
  display: block;
  margin: 40px auto 0 auto;
  width: 69.5%;
  background: #7FCAAD;
  border: 2px solid #7FCAAD;
  text-align: center;
}

#sodo-corridor a.button img {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: -3px 5px;
}

#sodo-corridor a.button:hover {
    background-color: #5AB592;
    border: 2px solid #5AB592;
}

#sodo-corridor a.button:focus {
    outline: none;
    border: 2px solid #219C6C;
}

/*******************************/
/**************WHO**************/
/*******************************/

#who .button {
  width: auto;
}

.carousel-contain {
  width: 100%;
}

.owl-carousel {
  width: 100%;
  margin: 40px auto;
  padding: 0 !important;
  list-style-type: none;
}

.name-tag {
  /*Shows artist name in a tag centered on top of image */
  z-index: 100;
  position: relative;
  font-size: 75%;
  top: 350px;
  padding: 15px 30px;
  color: #fff;
  font-weight: 300;
  background: #8A929C;
  opacity: 0.9;
  border-radius: 2px;
  display: inline;
  margin: 0 auto;
}

figure.img-contain {
  /*
  *This method works at max-height but is not very responsive when i shrink its width.
  */
  position: relative;
  height: 400px;
  border-radius: 4px;
  /*width: 70%;*/
  margin: 0 auto;
  text-align: center;
}

.owl-carousel .owl-item img {
  /*
  *This method works at max-height but is not very responsive when i shrink its width.*/
  max-height: 100%;
  width: auto;
  padding: 0 10px;

}

/*******************************/
/**************SCHEDULE*********/
/*******************************/

.checkmark {
  width: 18px;
  height: 18px;
  padding: 6px;
  background: #9AA3BD;
  border-radius: 200px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  /*margin-right: 20px;*/
}

#right p, #left p {
  display: inline-block;
  width: 75%;
  margin-left: 50px;
}

#col-wrap ul{
  list-style-type: none;
  text-align: left;
  padding: 0;
}

#col-wrap li {
  display: block;
  padding: 5px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 85%;
  vertical-align: middle;
  position: relative;
}

#col-wrap > div {
  width: 43%;
}

#col-wrap figure.year {
  display: block;
  float: none;
  width: 20%;
  margin: 40px auto 20px auto;
  text-align: center;
}

#left {
  float: left;
  /*width: 40%;*/
  margin-left: 7%;
}

#right {
  float: right;
  /*width: 40%;*/
  margin-right: 7%;
}

#left > * {
  float: left;
}

#right > * {
  float: right;
}

#left ul, #right ul {
  width: 67%;
}

#left figure, #right figure {
  width: 7%;
  margin: 34% 14% 5% 10%;
}

.incomplete {
  opacity: 0.5;
}

/*******************************/
/**************CONTACT**********/
/*******************************/

#contact {
  position: relative;
}

#contact-form-wrap {
  width: 40%;
  margin: 40px auto 20px auto;
}

#contact .copy-wrap:after {
    display: block;
    height: 1px;
    border-bottom: 1px solid rgba(155, 165, 189, 0.3);
    content: "";
    width: 150px;
    margin: auto;
    margin-top: 30px;
}

.info-text {
    color: #9098AD;
    width: 40%;
    font-size: 88%;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 1.6em;
    text-align: left;
}

.info-text a {
  color: #7FCAAD;
}

/*#contact .bold-title:before {
    display: block;
    height: 1px;
    border-bottom: 1px solid rgba(155, 165, 189, 0.3);
    content: "";
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}*/

.bold-title {
  color: #9098AD;
  width: 40%;
  font-size: 88%;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 40px;
  line-height: 1.6em;
  text-align: left;
}

.more-info h3 {
    font-weight: 100;
}

/*.more-info button {
  width: 40%;
  margin: auto;
}*/

.more-info button:hover {
  background-color: #5AB592;
  border: 2px solid #5AB592;
}

.more-info button:focus {
  outline: none;
  border: 2px solid #219C6C;
}

input {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    font-size: 16px;
    font-weight: 300;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

input.error {
  border-color: #FF2F34;
}

.input-wrapper {
  margin-bottom: 4%;
}

.input-wrapper input{
  display: block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9fafd;
}

.input-wrapper.short {
  width: 48.2%;
  float: left;
}

#first-name-wrapper {
  margin-right: 3.6%;
}

#contact-form-wrap input:focus {
  outline: none;
  border: 1px solid #7FCAAD;
  background: #F1FFF9;
}

#contact-form-wrap .button-wrap {
  margin: 20px auto;
}

#contact-form-wrap button {
  width: 100%;
  margin: auto;
}

#contact-form-wrap button:hover {
  background-color: #5AB592;
  border: 2px solid #5AB592;
}

#contact-form-wrap button:focus {
  outline: none;
  border: 2px solid #219C6C;
}

#errors {
  display: none;
  font-size: 85%;
  color: #FF2F34;
}

#confirmation-modal {
  display: none;
  /*width: 50%;
  height: 25%;
  position: absolute;
  left: 50%;
  top: 50%;*/
  margin: auto;
  /*margin-left: -30%;
  margin-top: -20%;*/
  padding: 6% 10%;
  background: #BEECDA;
  border: 1px solid #7FCAAD;
  border-radius: 2px;
  /* vertical-align: middle; */
  text-align: center;
}

#confirmation-modal .confirm-icon {
  width: 18px;
  height: 18px;
  padding: 6px;
  background: #7FCAAD;
  border-radius: 200px;
  vertical-align: middle;
}

#confirmation-modal p {
  font-size: 85%;
  margin: 10px auto 0 auto;
  color: #43AF85;
  text-align: center;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(155, 165, 180, 0.8);
}

#contact-form input:focus {
  outline: none;
}

/*******************************/
/**************MORE INFO**********/
/*******************************/

#more-info {
  display: block;
  padding: 40px 0;
  background: #7FCAAD;
}

#more-info h3 {
  color: #ffffff;
  font-size: 95%;
}

#more-info a {
  text-decoration: underline;
}

/*******************************/
/**************FOOTER***********/
/*******************************/

#footer {
  background: #4C5157;
}

#footer-inner-wrap {
  padding-bottom: 5%;
}

#left-contain {
  display: inline-block;
  float: left;
  width: 40%;
}

#left-contain figure {
  margin: 20px 0;
  width: 200px;
  marign: 10px 0;
}

#left-contain img {
  width: 100%;
}

#left-contain .copy-wrap {
  color: #ffffff;
  font-size: 80%;
  width: 100%;
  text-align: left;
}

.footer-link {
  color: #7FCAAD !important;
  margin: 20px 0 0 0 !important;
}

.footer-copy-wrap {
  color: #CBCED6;
  font-size: 80%;
  font-weight: 200;
  width: 100%;
  text-align: left;
}

.footer-copy-wrap p {
  margin: none;
}

#right-contain {
  display: inline-block;
  width: 45%;
  float: right;
}

#right-contain ul {
  float: right;
  display: inline-block;
  list-style-type: none;
  text-align: left;
}

#right-contain ul li:first-child {
  color: white;
  font-size: 85%;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 10px;
}

#right-contain li {
  padding-bottom: 10px;
  font-size: 75%;
  font-weight: 300;
  color: #CBCED6;
}

#copyright p {
  margin-top: 20px;
  font-size: 60%;
}

#right-contain li.link {
  color: #7FCAAD;
}


/*******************************/
/**************MEDIA Qs*********/
/*******************************/

@media only screen and (max-width: 950px) {

  #left li, #right li {
    width: auto;
  }

  .row {
    width: 95%;
    margin: 0 1%;
  }

  /*#nav-contain-test {
    width: 100%;
  }

  #nav-contain-test li {
    width: 18%;
  }*/

  #col-wrap figure.arrow {
    display: none;
  }

  /*#logo-sodo-wrap {
    width: 25%;
    padding-top: 5px;
  }*/

  #col-wrap {
    padding-top: 20px;
  }

  /*#right-contain {
    width: 70%;
  }*/

  /*#footer-inner-wrap {
    padding: 0;
  }*/

  #left-contain {
    margin-left: 40px;
  }

  #right-contain {
    margin-right: 40px;
  }

  #sodo-corridor {
    width: 80%;
    margin: 40px auto;
    padding: 50px 40px;
  }

  #contact-form-wrap {
    width: 50%;
  }

  #left figure, #right figure {
    display: none;
  }
}

@media only screen and (min-width: 781px) {
  #pop-up-nav {
    display: none;
  }
}

@media only screen and (max-width: 840px) {

  #col-wrap > div {
    width: 43%;
  }

  #left > *, #right > * {
    display: inline-block;
    text-align: center;
  }

  #contact-form-wrap {
    width: 75%;
  }

  /*#left figure, #right figure {
    display: none;
  }*/
}

@media only screen and (max-width: 820px) {
    #left-contain, #right-contain {
        width: 100%;
        text-align: center;
        margin: 0 auto 20px auto;
    }

    #left-contain figure {
        margin: 20px auto;
    }

    #left-contain .copy-wrap {
        width: 55%;
        margin-top: 10px;
        text-align: inherit;
    }

    #right-contain ul {
        float: none;

        width: 30%;
        padding: 0;

        text-align: center;
    }

    .footer-copy-wrap {
      margin-top: 10px;
      text-align: inherit;
    }
}
@media only screen and (min-width: 779px) {
  .res {
    display: none;
  }
}
@media only screen and (max-width: 780px) {

  header {
    padding: 12px 0 12px 0;
  }
  .nav-contain {
    /*display: none;*/
  }

  .nav-list {
    text-align: right;
  }

  .hamburger {
    display: block;
    margin-top: 8px;
  }

  .copy-wrap {
    width: 65%;
  }

  #hero-wrap {
    margin-top: 30px;
    width: 45%;
  }

  #hero-logo {
    width: 8%;
    padding: 2.6%;
  }

  #summer {
    display: block;
    width: 44%;
    height: auto;
    padding: 10px 20px;
    margin: auto;
  }

  #buildings {
    display: block;
    width: 30%;
    height: auto;
    padding: 10px 20px;
    margin: auto;
  }

  #artists {
    display: block;
    width: 26%;
    height: auto;
    padding: 10px 20px;
    margin: auto;
  }

  #col-wrap figure.arrow {
    display: none;
  }

  #col-wrap figure.year {
    width: 30%;
    margin: 30px auto 10px auto;
  }

  #left li, #right li {
    width: 92.5%;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 95%;
  }

}

  @media only screen and (max-width: 700px) {

    #left li, #right li {
      width: 92.5%;
    }

    .copy-wrap {
      width: 80%;
    }

    #logo-wrap {
      width: 70%;
    }
  }

  @media only screen and (max-width: 635px) {
    nav {
        float: right;
        text-align: center;
    }

    .head-wrap {
      height: auto;
    }

    /*.nav-list {
      text-align: center;
    }*/

    .nav-list li {
      /*display: block;*/
      height: auto;
    }
  }

  @media only screen and (max-width: 620px) {

    #hero-wrap {
      margin-top: 30px;
      width: 65%;
    }

    .button-wrap {
      margin: 35px auto;
    }

    .button {
      display: block;
      width: 50%;;
      margin: 20px auto;
      padding: 20px 30px;
      border: 2px solid #7FCAAD;
      border-radius: 2px;
      text-decoration: none;
      font-weight: 300;
      font-size: 85%;
    }

    #summer {
      display: block;
      width: 54%;
      height: auto;
      padding: 10px 20px;
      margin: auto;
    }

    #buildings {
      display: block;
      width: 40%;
      height: auto;
      padding: 10px 20px;
      margin: auto;
    }

    #artists {
      display: block;
      width: 32%;
      height: auto;
      padding: 10px 20px;
      margin: auto;
    }

    #sodo-corridor {
      width: 80%;
      margin: 40px auto 20px auto;
      padding: 30px 20px;
    }

    #corridor-map {
      display: block;
      width: 100%;
      margin: auto;
    }

    #sodo-corridor h3 {
      margin: auto;
      width: 85%;
      font-size: 100%;
      line-height: 1.5em;
    }

    .street {
      display: block;
      width: 24%;
      margin: 15px auto;
      color: #9CA6BF;
      font-size: 80%;
      font-weight: 300;
    }

    /*#contact-form input {
      font-size: 16px;
      padding-left: 10px;
      font-weight: 300;
      color: rgba(155, 165, 180, 0.5);
      border: 1px solid lightgrey;
    }*/

    #contact-form-wrap {
      width: 85%;
    }

    #right-contain {
      width: 100%;
      float: none;
      margin: 0 auto;
    }

    #right-contain ul {
      width: 100%;
      padding: 0;
    }

    #right-contain ul:before {
      display: block;
      height: 2px;
      /* background-color: #e67e22; */
      border-bottom: 1px solid #35353E;
      content: "";
      width: 200px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 580px) {

    /*#sodo-corridor a.button {
      width: 95%;
    }*/

    #col-wrap > div {
      float: none;
      width: 100%;
      margin: 0;
    }

    .sub-header h3 {
      width: 81%;
    }

    #left > ul, #right > ul {
      width: 100%;
    }
    #left li, #right li {
      width: 65%;
    }

  }

  @media only screen and (max-width: 520px) {
    .input-wrapper.short {
      width: 100%;
    }

    #splash-wrap img {
      width: 70%;
    }

    #hero-logo {
      width: 12%;
      padding: 3.6%;
    }
  }

  @media only screen and (max-width: 400px) {

    #splash-wrap img {
      width: 85%;
    }

    #left li, #right li {
      width: 75%;
    }

    /*#sodo-corridor a.button {
      width: 97.5%;
    }*/
  }

  @media only screen and (max-width: 321px) {

    #splash-wrap img {
      width: 92%;
    }

    .nav-list li {
      padding: 15px 5px;
    }
  }
}
