/*******************************/
/***********PAGE SETUP**********/
/*******************************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Helvetica', 'Tahoma', sans-serif;
    font-size: 16px;
    background-color: #F9FAFD;
    box-sizing: border-box;
}

#main-wrap {
    /*max-width: 1140px;*/
    margin: 0 auto;
}

/***********GENERAL CLASS**********/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

section {
    padding: 30px 0;
    border-bottom: 1px solid grey;
}

h1, h2, h3 {
    text-align: center;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.copy-wrap {
    width: 45%;
    font-size: 110%;
    margin: 0 auto;
    line-height: 1.5em;
    word-spacing: 2px;
    text-align: center;
}

.sub-header h3{
    font-weight: 100;
    font-size: 150%;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #7FCAAD;
    border-radius: 2px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 120%;
}

.full {
    background-color: #7FCAAD;
    color: #fff;
}

.ghost {
    color: #7FCAAD;
}

/*******************************/
/*************HEADER************/
/*******************************/

#head-wrap {
    margin: 0 auto;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px #e1e5f0 solid;
}

header {
    /*width: 80%;*/
    /*background-color: #D2D7D3;*/
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 10px;
}

/*************SODO Logo************/

#logo-sodo-wrap {
    float: left;
    margin: 5px 1.25% 0 1.25%;
    width: 45%;
}

#logo-sodo-wrap img {
    /*width: 45%;*/
    width: 50%;
}


/*************NAV************/

nav {
    width: 40%;
    float: right;
    margin: 0 1.25% 0 1.25%;
}

#nav-list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 15px;
}

#nav-list li {
    display: inline-block;
    height: 100%;
    margin: 0 2%;
    padding: 5px 15px;
    color: lightgrey;
    text-align: right;
    float: left;
    list-style: none;
}

#nav-list li:last-child {
    text-align: center;
    color: #fff;
    background-color: #7FCAAD;
}

/*******************************/
/***************SPLASH************/
/*******************************/

#hero-wrap {
    /*margin-top: 30px;*/
}

#hero-wrap img {
    display: block;
    margin: 0 auto;
    width: 30%;
    opacity: .8;
}

/***************ENTER************/

#enter-wrap {
    margin: 30px auto 0 auto;
    padding: 5px 10px;
    width: 200px;
    height: 45px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 25px;
}

#enter-wrap a:link, #enter-wrap a:visited {
    display: inline-block;
    margin-top: 12px;
    text-decoration: none;
    color: black;
    width: 80%;
    font-size: 14px;
    -webkit-transition: color .2s;
    transition: color .2s;
}

#enter-wrap a:hover, #enter-wrap a:active {
    text-decoration: none;
    color: aquamarine;
}

#play-contain {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 8px;
    background-image: url(../images/play-button-sprite-inactive.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: background-image, .2s;
    transition: background-image, .2s;
}

#play-contain:hover {
    background-image: url(../images/play-button-sprite-active.png);
}
/***************SODO TRACK LOGO************/

#logo-wrap {
    width: 50%;
    margin: 20px auto 0 auto;
    text-align: center;
}

#logo-wrap img {
    width: 100%;
}

#logo-wrap #track {
    width: 29%;
}*/

#sub-logo-copy {
    font-family: 'Lusitana', 'Lato', sans-serif;
    margin-top: 20px;
}

/*******************************/
/**************WHAT*************/
/*******************************/

#what {
    background-color: #fff;
}

#abstract {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

#abstract img {
  height: auto;
  margin-right: 50px;
  position: relative;
}

#abstract img:nth-of-type(1) {
  width: 30%;
}

#abstract img:nth-of-type(2) {
  width: 20%;
  top: 10px;
}

#abstract img:nth-of-type(3) {
  width: 15%;
}


.sub-header span {
    display: inline-block;
    margin-right: 30px;
    font-weight: 700;
}

#what .copy-wrap, #who .copy-wrap {
    width: 60%;
}

.button-wrap {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

/*******************************/
/**************WHO**************/
/*******************************/

/*#myslider {
  width: 65%;
  margin: 25px auto;
}

#myslider li img {
  width: 100%;
}*/

.carousel-contain {
  width: 100%;
}

.owl-carousel {
  width: 100%;
  margin: 25px auto;
}

#col-wrap {
  width: 90%;
  margin: 25px auto;
}

#col-wrap ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#col-wrap li {
  display: block;
  padding: 5px;
  marign-bottom: 100px;
}


#left {
  float: left;
  width: 45%;
}

#right {
  float: right;
  width: 45%;
}

/*******************************/
/**************SCHEDULE**************/
/*******************************/

table {
  width: 50%;
  margin: 20px auto;
  border-spacing: 0 20px;
}

#contact-form #row1 input {
  width: 90%;
  height: 50px;
}

#contact-form #row2 input {
  height: 50px;
  width: 95%;
}

#contact-form input {
  padding-left: 20px;
  font-size: 150%;
  font-weight: 100;
}

#contact-form input:focus {
  outline: none;
}
